@import 'nib'
@import blueprint
@import 'gradients'
@import 'section'
@import 'theme'
@import 'infoContainers'
@import 'headers'
@import 'buttons'
@import 'perks'
@import 'loading'
@import 'login'
@import 'portfolio'
@import 'dash'
@import 'contact'
@import 'register'
@import 'pages'
@import 'profile'
@import 'services'
@import 'requests'
@import 'account'
@import 'contacts'
@import 'connections'


body 
  margin 0
  padding 0
  background url(/images/blackstripes.png)
  font-family 'Droid Sans', Helvetica, Verdana, Arial, sans-serif

#container
  container()
